.about {
    padding: 10px 10px 60px;
}

.brandBlock {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid #66ccff;
    margin: 20px;
}

.newBrand {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid #66ccff;
    margin: 20px;
}

.newYear {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid #66ccff;
    margin: 20px;
}

.title {
    margin: auto;
    text-align: center;
}
.item{
    border: 1px solid #66ccff;
    text-align: center;
}