.header {
    padding:10px;
    background-color: darkgrey;
}
.Container{
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo{
    width: 55px;
}
.link{
    display: block;
    margin-left: 50px;
    padding-right: 50px;
    text-transform: uppercase;
    text-decoration: none;
}
.active{
    font-size: 24px;
}
.item{
    color: #66ccff;
    margin-left: 20px;
    padding-right: 20px;
}
.form{
    margin: 20px;
    display: flex;
    align-items: center;
}
.button{
    margin-left: 10px;
}