
.container{
max-width: 90%;
}
.logo{
    width: 55px;
}
.link{
    display: block;
    margin-left: 50px;
    padding-right: 50px;
    text-transform: uppercase;
    text-decoration: none;
    list-style-type: none;
}
.active{
    font-size: 24px;
    color: white;
    text-transform: uppercase;
    list-style-type: none;
    text-decoration: none;
}
.item{
    color: #66ccff;
    margin-left: 20px;
    padding-right: 20px;
    align-items: center;
}
.form{
    margin: 20px;
    display: flex;
    align-items: center;
}
.button{
    margin-left: 10px;
}
.collapse{
    justify-content: space-around;
}
.navbar-nav{
align-items: center;
}
