* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
}

.App {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.container {
    max-width: 90%;

}


